#room-list {
  float: right;
  width: 100px;
  height: 300px;
  overflow: auto;
}

#room-list div {
  border-bottom: 1px solid #eee;
}

#room-list div:hover {
  background-color: #ddd;
  cursor: pointer;
}

#send-message {
  width: 690px;
  margin-bottom: 1em;
  margin-right: 1em;
}

#help {
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}

#content {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
}

#room {
  background-color: #ddd;
  margin-bottom: 1em;
}

#messages{
  width: 690px;
  height: 300px;
  overflow: auto;
  background-color: #eee;
  margin-bottom: 1em;
  margin-right: 10px;
}

* {
  margin: 0;
}
html, body {
  height: 100%;
}

body {
  /*margin-top: 50px;*/
}
.wrapper {
  min-height: 100%;
  margin: 0px auto -155px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
  height: 155px; /* '.push' must be the same height as 'footer' */
}

.footer {
  background-color: black;
  width:100%;
  padding: 0px;
}
