#brand {
  font-family: 'Righteous', cursive;
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 2rem;
  color: #00ccff;
}

body {
  font-family: 'Righteous', cursive;
}

#room-list div:hover {
  background-color: #ddd;
  cursor: pointer;
}

#send-message {
  width: 690px;
  margin-bottom: 1em;
  margin-right: 1em;
}

a {
  color: #00B7FF;
}

#content {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
}

#room {
  background-color: #fbfbfb;
  border: 1px solid #00ccff;
  margin-bottom: 1em;
}

#messages{
  height: 300px;
  overflow: auto;
  border: 1px solid #00ccff;
}

* {
  margin: 0;
}
html, body {
  height: 100%;
}

body {
  /*margin-top: 50px;*/
}
.wrapper {
  min-height: 100%;
  margin: 0px auto -155px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
  height: 155px; /* '.push' must be the same height as 'footer' */
}

.footer {
  background-color: black;
  width:100%;
  padding: 0px;
}
